   /* cursive, fantasy, monospace, sans-serif, serif */

h1 {
  font-family: sans-serif;
}

h3 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

/* Flexible images */
img {
  max-width: 100%;
  height: auto;
}

body {
  text-align: center;
  color: #dfdede;
  background-color: #775252;
  margin: 100px;
}
